<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="PageSize" value="3" />
  <add key="MaxPage" value="5" />

  <add key="SMTPHost" value="smtp.gmail.com"/>
  <add key="SMTPPort" value="587"/>
  <add key="FromEmailAddress" value="aqshop123@gmail.com"/>
  <add key="FromEmailPassword" value="aqshop_123"/>
  <add key="FromName" value="AQShop"/>
  <add key="AdminEmail" value="dungnguyen.it.90@gmail.com"/>
  <add key="CurrentLink" value="http://localhost:1704//"/>
</appSettings>